<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../styles/admin/requisicionA.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</head>

<header>
    <button class="btn btn-primary mt-3 ms-3" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
        <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAExJREFUSEtjZKAxYKSx+QyjFhAM4QEJov8EnYVfAYqjsfmA5hZQ6AFU7QMSBzT3Ac3jgOYW0DyIhr4FNI8Dmlsw9ONg1AcoIUDz0hQAbegGGXzv/l0AAAAASUVORK5CYII=" />
    </button>
    <%- include('partials/_navbar2'); %>
</header>

<body>
    <div class="row d-flex justify-content-center container-fluid">
        <div class="col-md-10">
            <div class="card-hover-shadow-2x mb-3 card">
                <div class="card-header-tab card-header">
                    <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i
                            class="fa fa-tasks"></i>&nbsp;Requisiciones</div>
                </div>
                <div class="scroll-area-sm">
                    <perfect-scrollbar class="ps-show-limits">
                        <div style="position: static;" class="ps ps--active-y">
                            <div class="ps-content">
                                <ul class=" list-group list-group-flush">
                                    <% if (requi) { %>
                                        <% for (const [key, datos] of Object.entries(requi)) { %>
                                    <li class="list-group-item">
                                        <div class="todo-indicator bg-warning"></div>
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left mr-2">
                                                    <h4><%= datos.id %></h4>
                                                </div>
                                                <div class="widget-content-left">
                                                    <div class="widget-heading"> <%= datos.asunto %>
                                                        <% if (datos.estatus == 1) { %>
                                                        <div class="badge badge-info ml-2">Pendiente</div>
                                                        <% } %>
                                                        <% if (datos.estatus == 2) { %>
                                                            <div class="badge badge-primary ml-2">Aprobada</div>
                                                        <% } %>
                                                        <% if (datos.estatus == 3) { %>
                                                            <div class="badge badge-danger ml-2">Rechazada</div>
                                                        <% } %>
                                                    </div>
                                                    <div class="widget-subheading"><i><%= datos.departamento %></i></div>
                                                </div>
                                                <div class="widget-content-right">
                                                    <button class="border-1 btn-transition btn btn-outline-success" style="outline: solid green;">
                                                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAKtJREFUSEvtlNENgCAMRI9NdBOdTJ1EN3EVR9FLIGmA0KLyR3/UEN9Lr1WHxuUa89EFasI9ohDRAGACcMSZ/RER4bsXbI9glZKvAgm/AIx/dqDCKXvbgQmuCZglh8bWZZnhJQHhi4fPQlIFLwkIOp8OeGUHlLDCtmQHmvusSzOIJYRy181wbQY8lxI+V8EtAinhfbLn2t/OuqZhFhovObcKqsHhhS5Qo2se0Q2p5R4Zjo+H2gAAAABJRU5ErkJggg=="/></button>
                                                    <button class="border-1 btn-transition btn btn-outline-danger" style="outline: solid rgb(128, 0, 0);">
                                                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAI1JREFUSEtjZKAxYKSx+QzEWODAwMCwH4dDGoHiDfgcScgCfIaDzH3AwMCQyMDAcACXJegW/KdSkMHNpbsFVPIAwhhccUBuUGGYNzIsgPkSPdiwiZMVRKMWYE36yOE9GkQjIIhIKQCJzmigGgxU2ZACQJWOI7oGXIUdyPB6EizBWbMRqjJJ8QFWtTS3AAAyqysZPeY+2wAAAABJRU5ErkJggg=="/>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <% let des = datos.descripcion.split("▄") %>
                                        <details>
                                            <p>Orden de servicio: <%= datos.orden %></p>
                                            <p><%= datos.createdAt %></p>
                                            <p><%= datos.departamento %></p>
                                            <p><%= datos.puesto %></p>
                                            <p><%= datos.rentabilidad %></p>
                                            <p><%= datos.region %> / <%= datos.planta %></p>
                                            <p><%= datos.fechaEntrega %></p>

                                            <summary>Descripcion</summary>
                                            <table class="table">
                                                <thead>
                                                  <tr>
                                                    <th scope="col">Descripción Detallada</th>
                                                    <th scope="col">Unidad</th>
                                                    <th scope="col">Precio unitario con IVA</th>
                                                    <th scope="col">Precio Total con IVA</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                    <% for(var c=0; c<des.length; c=c+4) {%>
                                                        <%//for(var [key2, datos2] of Object.entries(des)) {%>
                                                  <tr>
                                                    <th><%= des[c] %></th>
                                                    <td><%= des[c +1] %></td>
                                                    <td><%= des[c +2] %></td>
                                                    <td><%= des[c +3] %></td>
                                                  </tr>
                                                  <%}%>
                                                </tbody>
                                              </table>
                                              <p>Situacion Actual: <%= datos.situacionActual %></p>
                                              <p>Expectativa: <%= datos.detallesEspectativa %></p>
                                              <p>Comentarios: <%= datos.comentariosAdicionales %></p>

                                        </details>
                                    </li>
                                        <% } %>
                                    <% }%>
                                </ul>
                            </div>
                        </div>
                    </perfect-scrollbar>
                </div>
            </div>
        </div>
    </div>
</body>

</html>